.help_component_information_side {
  .help_component_child {
    box-shadow: 2px 0px 0px 0px $color_divider;
    padding: 8px 12px;
    .help_link {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: $color-blue;
    }
  }
}
