.information_sidebar {
  height: 100vh;
  padding: 20px 20px;
  overflow-y: scroll;
  box-shadow: $default-box-shadow;
  text-align: justify;
  .head_sidebar {
    display: flex;
    justify-content: space-between;

    .close_menu {
      border: 0;
      font-size: $text-extra-headline-size;
      cursor: pointer;
      display: block;
      @include media-responsive(md) {
        display: none;
      }
    }
  }
  // Scrollbar styles for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $color-white;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-tiffany-blue;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $color-tiffany-blue;
  }
  .information_link {
    text-decoration: none;
  }

  .information_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    border: none;
    padding: 17px 5px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: $text-large;
    font-weight: $font-700;
    transition: 0.5s;
    & span {
      margin-left: 13px;
      list-style: none;
    }
  }
  .information_btn:hover {
    background: $color-bright-gray;
  }
}
