.explore_card {
  height: 350px;
  width: 100%;
  margin: 5px 0px;
  box-shadow: 0px 15px 15px 10px $color-bright-gray;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  @include media-responsive(md) {
    width: 100%;
    margin: 5px 0px;
    overflow: hidden;
    box-shadow: 0px 15px 15px 10px $color-bright-gray;
  }

  .status {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 9.5px;
    color: $color-white;
    background-color: rgb(32, 63, 240);

    padding: 1px 3px;
    font-size: $text-small;
    border-radius: 5px;
  }

  .img_par {
    .explore_card_img {
      width: 100%;
      height: 150px;

      position: relative;
    }
  }

  &:hover .img_par {
    transition: transform 500ms ease-out;
    transform: scale(1.1);
  }
  .card_texts {
    margin: 0 1rem;
    .title_ins {
      text-align: center;
      margin: 10px 0px;
      h2 {
        font-size: $text-extra-large;
        font-weight: $font-600;
        opacity: 50%;
      }
      p {
        font-size: $text-base;
        font-weight: $font-600;
        opacity: 75%;
      }
    }
    .bar {
      padding: 0.3px;
      background-color: $color-dark-electric-blue;
      margin: 10px 0;
      opacity: 25%;
    }

    .Price_cart_button {
      margin: 1.2rem 0;
      display: flex;
      justify-content: space-between;

      span {
        font-size: $text-extra-large;
        font-weight: $font-600;
        color: rgb(83, 135, 247);
      }

      .preview {
        padding: 3px 10px;
        border: 1px solid $color-divider;
        &:hover {
          color: $color-blue;
          cursor: pointer;
        }
      }
      .cart {
        font-size: $text-medium;
        margin-left: 14px;
        padding: 2px 8px;
        border: 0px;
        background-color: $color-blueberry;
        color: $color-bright-gray;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
