$color-primary_color: #062539;
$color-primary_color_hover: #041420;
$color-white: #ffffff;
$color-tiffany-blue: #0ac0a6;
$color-ghost-white: #f6f7fc;
$color-midnight-green: #133e53;
$color-bright-gray: #eeeff3;
$color-light-gary: #cbd3d7;
$color-dark-electric-blue: #566b78;
$color-blue: #0000cc;
$color_accent_text: #f0e8e8;
$color_divider: #b6b6b6;
$color-secondary-text: #757575;
$color-blueberry: #4285f4;
$color-black: #000000;
$color-maastricht-Blue: #062539;
$color-chinese-silver: #c5ccd1;
$color-main-primary: rgba(0, 174, 211, 0.25);
$color-red: #d1095e;
