$text-small: 12px;
$text-medium: 14px;
$text-base: 16px;
$text-extra-medium: 18px;
$text-large: 20px;
$text-extra-large: 22px;
$text-headline-size: 24px;
$text-extra-headline-size: 26px;
$text-extra-extra-headline-size: 28px;
$text-extra-extra-extra-headline-size: 30px;
$text-extra-extra-extra-banner: 3.3rem;
