@mixin container {
  margin: 10px auto;
  max-width: 74rem;
  width: 90%;
}

$breakpoints: (
  xsm: 300px,
  sm: 540px,
  md: 768px,
  lg: 1024px,
);

@mixin media-responsive($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
