.game_banner_component {
  background-image: url("https://i.ibb.co/x8J1x2D/game-banner.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  opacity: 90%;
  filter: blur(2px);

  .game_banner_text_field {
    display: grid;
    place-content: center;
    padding: 7rem 0px;
    text-transform: uppercase;
    color: #ff774a;
    font-size: $text-extra-extra-extra-banner;
    font-family: $text-dancing;
    font-weight: 700;
    filter: blur(-58px);
  }
}
