.hot_news_container {
  margin: 10px auto;
  max-width: 74rem;
  width: 90%;
  h4 {
    font-size: $text-extra-extra-extra-headline-size;
    margin: 2rem 1.5rem;
    text-transform: uppercase;
    font-weight: $font-900;
    color: #010a36;
  }

  .hot_news_component {
    margin: 2rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;

    .card_image {
      position: relative;
      height: 33rem;
    }

    .news_card {
      .news_card_child {
        background-color: #010a36;
        margin: 0.5rem 0px;

        .news_card_content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 16px;

          .news_text {
            h5 {
              font-size: $text-large;
              font-weight: $font-600;
              // line-height: 5.5px;
              text-transform: uppercase;
              color: $color-bright-gray;
            }
            p {
              color: $color-bright-gray;
              font-size: $text-small;
              margin:5px 0px;
            }

            .news_more_button {
              border: none;
              padding: 6px 1rem;
              color: #010a36;
              font-size:$text-medium;
              font-weight:$font-600;
      &:hover{
        cursor:pointer;
      }
            }
          }
        }
      }
    }
  }
}
