.latest_games_container {
  margin: 10px auto;
  max-width: 74rem;
  width: 90%;

  h3 {
    font-size: $text-extra-extra-extra-headline-size;
    margin: 2rem 1.5rem;
    text-transform: uppercase;
    font-weight: $font-900;
    color: #010a36;
  }
}
