.carts {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 50px;

  .cart {
    // position: relative;
    background: $color-white;
    margin: 10px;
    padding: 70px 20px;
    text-align: center;
    box-shadow: $box_shadow_active;
    border-radius: 4px;
    font-family: $text-normal;
    border-bottom: 5px solid $color-blue;
    .cart-link {
      text-decoration: none;
      transition: 0.7s;
    }
    .cart-link:hover {
      color: $color-blue;
      text-decoration: underline;
      .img-ring {
        border: 4px solid $color-blue;
      }
    }
    & h4 {
      color: $color-blue;
      font-size: 1.3em;
      font-weight: 400;
      letter-spacing: -0.7px;
      margin-top: -70px;
      margin-bottom: 5px;
    }
    & p {
      color: #777;
      font-size: 0.9em;
      text-align: center;
      line-height: 26px;
    }
    .img-ring {
      position: relative;
      top: -110px;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-radius: 50%;
      transition: 0.7s;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px solid transparent;
      &:hover {
        border: 4px solid $color-blue;
      }
      .cart-img {
        width: 60px;
        height: 60px;
        padding: 10px;
        border-radius: 50%;
        background: $color-blueberry;
      }
    }
  }
}
