*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
// Global CSS
@import "./global/global";

// IMPORT FROM COMMON FOLDER
@import "./common/colors";
@import "./common/font-family";
@import "./common/font-size";
@import "./common/font-weight";
@import "./common/shadow";

// IMPORT FROM COMPONENTS FOLDER
@import "./components/shared/header";
@import "./components/shared/footer";

// IMPORT FROM LAYOUT FOLDER
@import "./layout/homeLayout";

// IMPORT INFORMATION SIDEBAR
@import "./components/shared/informationsidebar/informationsidebar";
@import "./components/shared/informationsidebar/informationTabs";
@import "./components/shared/adssidebar/adssidebar";
@import "./components/shared/informationsidebar/help";
@import "./components/shared/informationsidebar/blogs";
@import "./components/shared/informationsidebar/links";

/* -----------------------------------------
-------------Home Layout Page---------------
------------------------------------------- */
@import "./pages/home";
@import "./components/shared/carts";
@import "./pages/numberSignIn/number";
@import "./pages/numberSignIn/otp";
@import "./pages/birds";

//Number Sign In

// Games page
@import "./components/games/banner";
@import "./components/games/cardCarousel";
@import "./components/games/latest_games";
@import "./components/games/hot_news";
@import "./components/games/game_according_card";
@import "./components/games/game_faq";
